<a href="https://colab.research.google.com/github/wiradear/Prinsiple-of-DataScience/blob/main/Assingment_01_Basic_Python_DataStructures_jso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS245 : Principle of Data Science
## <u>Assignment#01</u>: Basic Python Data Structures: List, Tuple, Dictionary
### (100 คะแนน)

## 1. (2.5 คะแนน) List.
Given two lists. Create the third list by concatenating even-indexed elements from the second to the odd-indexed elements from the first list.
### For Example:
* listOne = [3, 6, 9, 12, 15, 18, 21]
* listTwo = [4, 8, 12, 16, 20, 24, 28]

### Expected Output:
The final third list is [6, 12, 18, 4, 12, 20, 28]

Write and Execute your code here.

In [ ]:
# Q.1
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
listThree = listOne[1::2]+listTwo[0::2]
print("The final third list is" ,listThree)

The final third list is [6, 12, 18, 4, 12, 20, 28]

##2. (2.5 คะแนน) List.
Given an input list removes the element at index 4, then <u>insert</u> it as the 2nd item and also, as the last item of the list.
### For Example:
* mylist = [34, 54, 67, 89, 11, 43, 94]

### Expected Output:
* Printing the final list
[34, 11, 54, 67, 89, 43, 94, 11]

Write and execute your code here.

In [ ]:
# Q.2
mylist = [34, 54, 67, 89, 11, 43, 94]
item = mylist.pop(4)
mylist.insert(1,item)
mylist.insert(7,item)
print("Printing the final list",mylist)

Printing the final list [34, 11, 54, 67, 89, 43, 94, 11]

## 3. (2.5 คะแนน) Set.
*   Given two sets.
*   Find the intersection and remove those elements from the first set.

### Expected Output:
* First set {65, 42, 78, 83, 23, 57, 29}
* Second set {67, 73, 43, 48, 83, 57, 29}
* Intersection is {57, 83, 29}
* First set after removing common element(s) {65, 42, 78, 23}

Write and execute your code here.

In [ ]:
# Q.3
set1 = {65, 42, 78, 83, 23, 57, 29}
set2 = {67, 73, 43, 48, 83, 57, 29}
intersec = set1.intersection(set2)

print("First set",set1)
print("Second set",set2)
print("Intersection is",intersec)
set1.difference_update(intersec)
print("First set after removing common element(s)",set1)

First set {65, 42, 78, 83, 23, 57, 29}
Second set {67, 73, 43, 48, 83, 57, 29}
Intersection is {57, 83, 29}
First set after removing common element(s) {65, 42, 78, 23}

## 4. (2.5 คะแนน) List and Tuple.
* Given a list
* Remove duplicate from the given list
* Find the maximum and minimum numbers in the list

### For Example:
* mylist = [87, 45, 41, 65, 94, 41, 99, 94]

### Expected Output:
unique item: [65, 99, 41, 45, 87, 94] <br>
min:  41 <br>
max:  99 <br>

Write and execute your code here.

In [ ]:
# Q.4
mylist = [87, 45, 41, 65, 94, 41, 99, 94]
mylist = [*set(mylist)]
print("unique item:",mylist)
print("min:", min(mylist))
print("max:", max(mylist))

unique item: [65, 99, 41, 45, 87, 94]
min: 41
max: 99

## 5. (10 คะแนน) List and Dictionary.
*   Given a list.
*   Iterate over the given list and count the occurrence of each element.
*   Create a dictionary to show the count of each element.

### Expected Output:
Original list  [11, 45, 8, 11, 23, 45, 23, 45, 89]

'count' of each item  {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

Write and execute your code here.

In [ ]:
# Q.5
mylist = [11, 45, 8, 11, 23, 45, 23, 45, 89]
count = {}
for i in mylist:
  count[i] = mylist.count(i)
print("Original list ",mylist)
print("'count' of each item",count)

Original list  [11, 45, 8, 11, 23, 45, 23, 45, 89]
'count' of each item {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

## 6. (10 คะแนน) List and Dictionary.


* Given a dictionary which consists of vehicles and their weights in
kilograms.
* Contruct a list of vehicle names whose corresponding weight below 2500 kilograms.
* In the same list comprehension make the key names all upper case.

<u>Note</u>: นักศึกษาโปรดทราบ
* โปรดสังเกต data type ของผลลัพธ์
* อย่าลืม โปรแกรมของนักศึกษาต้องมีโค้ดสำหรับแสดงผลลัพธ์ด้วย

### Example (Input):
vehicles = {"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}

### Expected Output:
['SEDAN', 'SUV', 'MINIVAN', 'VAN', 'BICYCLE', 'MOTORCYCLE']

Write and execute your code here.

In [ ]:
# Q.6
vehicles = {"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}
val = [i for i,v in vehicles.items() if v < 2500]
toUpper = [j.upper() for j in val]
print(toUpper)

['SEDAN', 'SUV', 'MINIVAN', 'VAN', 'BICYCLE', 'MOTORCYCLE']

## 7. (20 - 35 คะแนน) Given an inventory (สินค้าคงคลัง หน่วยเป็นชิ้น) and sales (ยอดขายสินค้า หน่วยเป็นชิ้น) information of a clothing store.
1. Find the item(s) with the maximum amount kept in warehouse. Report both name(s) of the item(s) and the number of items in warehouse.
2. Find the items(s) with the maximum sale. Report both the name(s) of the item(s) and the number of items sold.
3. Based on the inventory and sales, compute and Report the inventory left.

<u>Note</u>: นักศึกษาโปรดทราบ
* ในข้อมูลคลังสินค้า อาจมีสินค้าที่มีปริมาณเท่ากัน
* ในข้อมูลยอดขาย อาจมีสินค้าที่มียอดขายเท่ากัน
* ข้อมูลในรายการคลังสินค้าและยอดขาย เป็นลำดับแบบสุ่ม
* ในข้อมูลยอดขาย สินค้าที่ไม่มีข้อมูล คือ สินค้าที่ไม่มียอดขายในเดือนนั้น
* ตอบข้อ 3. ต้องรายงานจำนวนที่เหลืออยู่ของสินค้าให้ครบทุกรายการในคลังสินค้า
* ข้อมูลใน 'sales' และ 'inventory' ถูกต้องตามเงื่อนไขเสมอ ไม่ต้อง validate ข้อมูล

<u>Note</u>: คะแนนข้อนี้เป็นขั้นบันได
* โปรแกรมผลิตผลลัพธ์ได้อย่างถูกต้อง  (+ 10 คะแนน)
* Pythonic: โค้ดที่คำนวณ ข้อ 1. ถึง ข้อ 3. โดยใช้ list comprehension เท่านั้น (+15 คะแนน)
* Pythonic: โค้ดที่คำนวณ inventory left (ข้อ 3.) โดยใช้ list comprehension แบบไม่มี nested และ ไม่มีการเพิ่มข้อมูลเข้าไปในดิกชันนารีแบบ manual (+10 คะแนน)

### For Example:
* inventory = {'Dress': 200, 'Pants': 100, 'Shorts': 250, 'Tops': 250, 'Coats_and_Jacket': 150, 'Shoes': 250, 'Accessories': 150}
* sales = {'Accessories': 25, 'Shorts': 100, 'Dress': 75, 'Pants': 50, 'Tops': 175, 'Coats_and_Jacket': 120 }

### Expected Output: นักศึกษาโปรดสังเกต data type ของเอาท์พุตที่โจทย์ต้องการด้วย <br>
Items with maximum inventory are the following: <br>
{'Shorts': 250, 'Tops': 250, 'Shoes': 250}

Items with maximum sale are the following: <br>
{'Tops': 175}

Current inventory is the following: <br>
{'Dress': 125, 'Pants': 50, 'Shorts': 150, 'Tops': 75, 'Coats_and_Jacket': 30, 'Shoes': 250, 'Accessories': 125}

Write and execute your code here.

In [ ]:
# Q.7
inventory = {'Dress': 200, 'Pants': 100, 'Shorts': 250, 'Tops': 250, 'Coats_and_Jacket': 150, 'Shoes': 250, 'Accessories': 150}
sales = {'Accessories': 25, 'Shorts': 100, 'Dress': 75, 'Pants': 50, 'Tops': 175, 'Coats_and_Jacket': 120 }
print("Items with maximum inventory are the following:")
print({i:j for i,j in inventory.items() if j == max(inventory.values())})
print("")
print("Items with maximum sale are the following:")
print({i:j for i,j in sales.items() if j==max(sales.values())})
print("")
print("Current inventory is the following:")
print({ i:(j-sales[i] if i in sales else  j) for (i,j) in inventory.items()})

Items with maximum inventory are the following:
{'Shorts': 250, 'Tops': 250, 'Shoes': 250}

Items with maximum sale are the following:
{'Tops': 175}

Current inventory is the following:
{'Dress': 125, 'Pants': 50, 'Shorts': 150, 'Tops': 75, 'Coats_and_Jacket': 30, 'Shoes': 250, 'Accessories': 125}

## 8. (10 - 15 คะแนน) Data Validation: Given an inventory (สินค้าคงคลัง หน่วยเป็นชิ้น) and sales (ยอดขายสินค้า หน่วยเป็นชิ้น) information of a clothing store.

Ana is asked to help her beloved auntie in validating the information. Ana notices one constraint that must be satisfied by the information.
That is, all items in 'sales' must be in 'inventory'.

Please help Ana listing all errorneous information.

<u>Note</u>: นักศึกษาโปรดทราบ คะแนนข้อนี้เป็นขั้นบันได
* โปรแกรมผลิตผลลัพธ์ได้อย่างถูกต้อง  (+ 10 คะแนน)
* Pythonic: โค้ดที่ใช้ list comprehension เท่านั้น (+5 คะแนน)

### For Example:
* inventory = {'Dress': 200, 'Pants': 100, 'Shorts': 250, 'Tops': 250, 'Coats_and_Jacket': 150, 'Shoes': 250, 'Accessories': 150}
* sales = {'Shorts': 100, 'Fragrance': 2, 'Pants': 50, 'Tops': 175, 'Coats_and_Jacket': 120, 'Swimwear': 50}

### Expected Output: นักศึกษาโปรดสังเกต data type ของเอาท์พุตที่โจทย์ต้องการด้วย <br>
Items listed in 'sales' but not shown in 'inventory' are the following: <br>
{('Fragrance', 2), ('Swimwear', 50)}

Write and execute your code here.

In [ ]:
# Q.8
inventory = {'Dress': 200, 'Pants': 100, 'Shorts': 250, 'Tops': 250, 'Coats_and_Jacket': 150, 'Shoes': 250, 'Accessories': 150}
sales = {'Shorts': 100, 'Fragrance': 2, 'Pants': 50, 'Tops': 175, 'Coats_and_Jacket': 120, 'Swimwear': 50}
total = {i:j for i,j in sales.items() if i not in inventory}
print("Items listed in 'sales' but not shown in 'inventory' are the following:")
print(set(total.items()))

Items listed in 'sales' but not shown in 'inventory' are the following:
{('Fragrance', 2), ('Swimwear', 50)}

## 9. (15 - 20 คะแนน) Given an inventory (สินค้าคงคลัง) and sales (ยอดขายสินค้า หน่วยเป็นชิ้น) information of a clothing store. The inventory for each product consists of both the number of products in warehouse (หน่วยเป็นชิ้น) and the price per item (หน่วยเป็นดอลลาร์).

Compute the total amount of money we earned.

<u>Note</u>: นักศึกษาโปรดทราบ คะแนนข้อนี้เป็นขั้นบันได
* โปรแกรมผลิตผลลัพธ์ได้อย่างถูกต้อง  (+ 15 คะแนน)
* Pythonic: โค้ดที่ใช้ list comprehension เท่านั้น (+5 คะแนน)

### For Example:
inventory = {'Dress': (200, 10), 'Pants': (100, 5), 'Shorts': (250, 5), 'Tops': (250, 5), 'Coats_and_Jacket': (150, 20), 'Shoes': (250, 20),
'Accessories': (150, 2.5)} <br>
sales = {'Accessories': 25, 'Shorts': 100, 'Dress': 75, 'Pants': 50, 'Tops': 75, 'Coats_and_Jacket': 20 }

### Expected Output: นักศึกษาโปรดสังเกต data type ของเอาท์พุตที่โจทย์ต้องการด้วย <br>
The total amount of money we earned:
{'Dress': 750, 'Pants': 250, 'Shorts': 500, 'Tops': 375, 'Coats_and_Jacket': 400, 'Shoes': 0, 'Accessories': 62.5}

Write and execute your code here.

In [ ]:
# Q.9
inventory = {'Dress': (200, 10), 'Pants': (100, 5), 'Shorts': (250, 5), 'Tops': (250, 5), 'Coats_and_Jacket': (150, 20), 'Shoes': (250, 20), 'Accessories': (150, 2.5)}
sales = {'Accessories': 25, 'Shorts': 100, 'Dress': 75, 'Pants': 50, 'Tops': 75, 'Coats_and_Jacket': 20 }
price = {i:j[1] for i,j in inventory.items()}
amount = {m:sales[m]*n if m in sales.keys() else 0 for (m, n) in price.items()}
print("The total amount of money we earned:",amount)

The total amount of money we earned: {'Dress': 750, 'Pants': 250, 'Shorts': 500, 'Tops': 375, 'Coats_and_Jacket': 400, 'Shoes': 0, 'Accessories': 62.5}